DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
REDIS_URL=redis://:envvault_redis@localhost:6379/4
INTERNAL_SERVICE_TOKEN=change-me-internal-token
SENDGRID_API_KEY=SG....
FROM_EMAIL=notifications@envvault.io
SLACK_BOT_TOKEN=xoxb-...
SENTRY_DSN=
